<!DOCTYPE html>
<html>
  <head>
    <title>Edibles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if logged_in? %>
      <script type="text/javascript">
      window.currentUser =
        <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
    </script>
    <% end %>

    <script type="text/javascript">
      window.background = "<%= image_url("background.jpg")  %>"
    </script>
    <script type="text/javascript">
      window.logo = "<%= image_url("logo.png")  %>"
    </script>
    <script type="text/javascript">
      window.home = "<%= image_url("home.png")  %>"
    </script>
    <script type="text/javascript">
      window.user = "<%= image_url("user.png")  %>"
    </script>
    <script type="text/javascript">
      window.find = "<%= image_url("find.png")  %>"
    </script>
    <script type="text/javascript">
      window.splashBackground = "<%= image_url("splash_background.jpg")  %>"
    </script>
    <script type="text/javascript">
      window.star = "<%= image_url("star.png")  %>"
    </script>
    <script type="text/javascript">
      window.heart = "<%= image_url("heart.png")  %>"
    </script>
    <script type="text/javascript">
      window.eye = "<%= image_url("eye.png")  %>"
    </script>
    <script type="text/javascript">
      window.panackes = "<%= image_url("pancakes.jpg")  %>"
    </script>
    <script type="text/javascript">
      window.cc = "<%= image_url("cc.png")  %>"
    </script>
    <script type="text/javascript">
      window.cookingPot = "<%= image_url("cooking-pot.png")  %>"
    </script>
    <script type="text/javascript">
      window.diet = "<%= image_url("diet.png")  %>"
    </script>
    <script type="text/javascript">
      window.lobster = "<%= image_url("lobster.png")  %>"
    </script>
    <script type="text/javascript">
      window.boil = "<%= image_url("boil.png")  %>"
    </script>
    <script type="text/javascript">
      window.mainRecipePic = "<%= image_url("recipe_main_pic.jpg")  %>"
    </script>
    <script type="text/javascript">
      window.pancake = "<%= image_url("pancake.jpg")  %>"
    </script>
    <script type="text/javascript">
      window.yogurt = "<%= image_url("yogurt.jpg")  %>"
    </script>
    <script type="text/javascript">
      window.pizza = "<%= image_url("pizza.jpg")  %>"
    </script>
    <script type="text/javascript">
      window.user2 = "<%= image_url("user2.jpg")  %>"
    </script>
    <script type="text/javascript">
      window.carat = "<%= image_url("carat.png")  %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
